# macOS system files
.DS_Store

# Python cache
__pycache__/
*.pyc

# Conda environment folders
env/

# macOS system files
.DS_Store

# Python cache
__pycache__/
*.pyc

# Conda environment folders
env/
